@{
    ViewBag.Title = "Upload";
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/upload")

<div id="upload-header" class="text-center">
    <h2>Upload any Github Repo</h2>
    <h4>Paste the URL of the project</h4>
    @if (ViewBag.Error != null)
    {
        <h5 id="upload-error">@ViewBag.Error</h5>
    }
</div>

<form id="upload-form" method="post" action="~/Upload/Submit" class="bs-example bs-example-form" role="form">
    <div class="input-group input-group-lg" >
		<input name="githubUrl" type="text" class="form-control" placeholder="http://github.com/CodeConnect/SourceBrowser"  autofocus>
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Go!</button>
        </span>
    </div>
</form>

<div class="text-center upload-message">
    Uploading.  Please Wait...
</div>
