line-numbers
{
    margin:20px;
}

.source-code span
{
    font-family:monospace;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.sb-jumbotron
{
    background-color: #7f34a9;
}

.sb-jumbotron .lead
{
    color: #fdf;
    font-size: large;
    margin-top: 2em;
    margin-bottom: 2em;
}

.sb-jumbotron h1
{
    color: #fff;
    font-weight: normal;
}

.Keyword {
    color:blue;
}

.source-code a {
    color:#333333;
}

.source-code .Type {
    color:#2DADED;
}

.source-code .Type a {
    color:#2DADED;
}

.Comment {
    color: #18890D;
}

#search-box {
    border: none;
    background: #FFF;
    width:400px;
    height:20px;
    margin:7px auto;
    color:#333;
}


.String {
    color:#A31515;
}

#search-results a {
    display:block;
    padding:5px 10px;
    color:#333;
}

#search-results a span:first-of-type{
    font-weight:bold;
}

#search-results a:hover {
    text-decoration:none;
    background:#DDD;
}