line-numbers
{
    margin:20px;
}

#main-content pre, 
#main-content pre a, 
#main-content pre span, 
#main-content pre span a
{
    font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.sb-jumbotron
{
    background-color: #7f34a9;
}

.sb-jumbotron .lead
{
    color: #fdf;
    font-size: large;
    margin-top: 2em;
    margin-bottom: 2em;
}

.sb-jumbotron h1
{
    color: #fff;
    font-weight: normal;
}

.Keyword {
    color:blue;
}

.source-code a {
    color:#333333;
}

.source-code .Type {
    color:#2DADED;
}

.source-code .Type a {
    color:#2DADED;
}

.Comment {
    color: #18890D;
}

.String {
    color:#A31515;
}

.metro header .title-element {
	padding: 0 !important;
	font-family: 'Segoe UI','Open Sans',Verdana,Arial,Helvetica,sans-serif;
	float: left;
	width: auto;
	display: block;
	text-decoration: none;
}

.metro header .title-element .logo {
	margin: 6px;
    background-image: url("logo.png");
    height: 32px;
    width: 32px;
    float: left;
    display: inline-block;
}

.metro header .title-element .title {
    padding: 15px 15px 15px 0;
    line-height: 15px;
    float: left;
    display: inline-block;
}
