header {
    background-color: #333;
    color: #fff;
    height: 45px;
    width: 100%;
    color: inherit;
    font-family: 'Segoe UI Light_','Open Sans Light',Verdana,Arial,Helvetica,sans-serif;
    font-size: 14px;
}

header .element {
    padding: 15px;
    line-height: 15px;
    float: left;
}

header .title-element {
    font-family: 'Segoe UI','Open Sans',Verdana,Arial,Helvetica,sans-serif;
}

header a {
    color: #fff;
}

header a:hover {
    color: #fff;
}

header .element:hover {
    background-color: #201a1a;
}

header .before-divider {
    border-right: 1px #606060 solid;
}

header .place-right {
    float: right;
}

header .pull-menu {
    display: block;
    float: right!important;
    color: #fff;
    cursor: pointer;
    font: 1.8em sans-serif;
    position: absolute;
    top: 0;
    right: 0;
    height: 45px;
    width: 40px;
    line-height: 20px;
    margin: 0;
}

header .pull-menu:before {
    content: "≡";
    position: absolute;
    font-size: 20pt;
    top: 10px;
    left: 10px;
}

header .input-element {
    padding: 15px;
    line-height: 15px;
    position: relative;
    margin: 0;
}

header form {
    margin: 0;
    padding-bottom: 0;
    position: relative;
    top: -6px;
}

header .btn-search {
    background-image: url("search.png");
    height: 16px;
    width: 16px;
    top: 2px;
    right: 2px;
    background-color: transparent;
    cursor: pointer;
}

header input {
    width: 300px;
    font-size: 12px;
    padding: 3px;
}

header .visible-on-wide-screen {
    display: block;
}

header .visible-on-narrow-screen {
    display: none;
}

@media screen and (min-width: 800px) {
    header .pull-menu {
        display: none;
    }

    header .visible-on-wide-screen {
        display: block;
    }

    header .visible-on-narrow-screen {
        display: none;
    }
}

header .logo {
    background-image: url("logo.png");
    height: 32px;
    width: 32px;
}

/* Browse layout with source in one pane and treeview/search in another: */
#sb-viewhost {
    top: 45px;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    overflow: hidden;
}

#main-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 320px;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: auto;
    padding-left: 20px;
}

#browser {
    position: absolute;
    width: 320px;
    top: 0;
    bottom: 0;
    right: 0;
    padding-left: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}

#search-results {
}

#tree-view {
}

/* End of browse layout */