@using SourceBrowser.Site.Models
@{
    ViewBag.Title = "Browse";
}

<div class="container body-content">
   @if (ViewBag.Users == null || ViewBag.Users.Count == 0)
   {
    <div style="margin:65px 0px 65px 0px" class="text-center">
        <h2>
            Oops! There are no repositories to browse. :(<h2>
                <h4>Try uploading one of your own from Github!</h4>
    </div>
   }
   else
   {

    <div style="margin:65px 0px 65px 0px">
        <h2>Pick user or organization whose repo you want to browse:</h2>
        <ul style="margin:30px 0 0 0">
            @foreach (GithubUserStructure user in ViewBag.Users)
            {
                <li class="hide-bullet wrapping-list">
                    <a class="userBadge" href="~/Browse/@user.Username">
                        <img src="@user.AvatarURL" />
                        <div class="text clipped-text">
                            <h3>@user.FullName</h3>
                            <p class="minor">github.com/@user.Username</p>
                        </div>
                    </a>
                </li>
            }
        </ul>
    </div>
   }
</div>

