@model SourceBrowser.Site.Models.GithubFileStructure

@{
    ViewBag.Title = Model.FileName;
}

<div id="sb-viewhost">
        
    <!-- Main Content-->
    <article id="main-content">
        @if (!String.IsNullOrEmpty(Model.SourceCode))
        {
            @Html.Raw(Model.SourceCode)
        }
    </article>
    <div id="drag-handle"></div>
    <!--Display the tree view.-->
    <aside id="browser">
        <section id="tree-view" class="metro">
            @Html.Raw(ViewBag.TreeView)
        </section>
        <section id="search-results" style="display:none;">
        </section>
        <section id="no-results" style="display:none;">
            There were no results
        </section>
    </aside>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/treeViewScripts")
}
