@model SourceBrowser.Site.Models.GithubFileStructure

@{
    ViewBag.Title = "LookupFile";
}

<div class="container body-content">
    <div class="container-fluid" id="mainContainer">
        <div class="row">
            <!--Bread crumb-->
            <header class="col-xs-12">
                <p>
                    <nav class="breadcrumbs mini">
                        <ul>
                            <li>
                            </li>
                            <li>
                            </li>
                        </ul>
                    </nav>
                </p>
            </header>
        </div>
        <!--/Bread crumb-->

        <div class="row">
        
            <!-- Main Content-->
            <article class="col-xs-8" id="main" style="overflow-x:scroll">
                <section id="main-content">
                    @if (!String.IsNullOrEmpty(Model.SourceCode))
                    {
                        @Html.Raw(Model.SourceCode)
                    }
                </section>
            </article>
            <!--Display the tree view.-->
            <aside class="col-xs-4" id="browser">
                <section id="tree-view">
                    @Html.Raw(ViewBag.TreeView)
                </section>
                <section id="search-results" style="display:none;">
                </section>
                <section id="no-results" style="display:none;">
                    There were no results
                </section>
            </aside>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/treeViewScripts")
}
