<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
	<!-- The production server sets these values to enable all security
	     and performance features not needed when debugging locally. -->
	<add key="safeUserName" value="" />
	<add key="safePassword" value="" />
	<add key="GitHubBasicAuthenticationToken" value="" />
</appSettings>
